__pycache__/
*.py[cod]
*.egg-info/

build/
dist/
dist_nuitka/
*.spec
*.build/
*.dist/
*.onefile-build/

awesome_wotlk_src/build/
awesome_wotlk_src/build_x86/
awesome_wotlk_src/.vs/
awesome_wotlk_src/out/

characters.json
autologin.log
*.log

.vs/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
